{% include "header.html" %}

<!-- Page Header-->
<header
  class="masthead"
  style="background-image: url('../static/assets/img/about-bg.jpg')">
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          <h1>About Me</h1>
          <span class="subheading">This is what I do.</span>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content-->
<main class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <p>
          Hi, welcome to this page. My name is Leonardo and this is a capstone
          project from my python bootcamp. You can
          <a
            href
            style="color: aqua"
            ="https://www.udemy.com/course/100-days-of-code/"
            >check it out</a
          >, if you want to have a glimpse of the course.
        </p>
        <p>
          About me, I like reading,writing and driking coffee (despite the fact
          I'm noot a dev yet!). I`m a language teacher and during the pandemic
          times, I try to create some games, and now I'm here.
        </p>
        <p>Thank you so much for you time !! Cya!!</p>
      </div>
    </div>
  </div>
</main>

{% include "footer.html" %}
